<div class="row">
    <div class="col-12 headerComponent">
        <div class="row"><div class="col-12"><h4>MENU</h4></div></div>
        <div class="row"><div class="col-12"><h4>Resturant</h4></div></div>
        <button class="btn btn-secondary" routerLink="/listOfMenu"><i class="bi bi-list"></i>List Of Menu</button>
        <button class="btn btn-secondary" routerLink="/Home"><i class="bi bi-house-door"></i>Home</button>
        <button class="btn btn-secondary" routerLink="/Soups">Soups</button>
        <button class="btn btn-secondary" routerLink="/Starters">Starters</button>
        <button class="btn btn-secondary" routerLink="/Snacks">Snacks</button>
        <button class="btn btn-secondary" routerLink="/MainCourse">MainCourse</button>
        <button class="btn btn-secondary" routerLink="/SoftDrinks">SoftDrinks</button>
        <button class="btn btn-secondary" routerLink="/IceCreams">IceCreams</button>
    </div>
</div>