.headerComponent{
    background-color: rgb(16, 3, 7);
    border: solid black 2px;
    
}
button{
    background-color: rgb(16, 3, 7);
    margin-left: 60px;
    border: hidden;
}
h4{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    color: whitesmoke;
}